.flex-containter:after {
  content: "";
  display: table;
  clear: both;
  align-items: center;
}

.flex-box {
  float: left;
  width: 50%;
  padding-bottom: 3vh;
}

.clear {
  clear: both;
}

@media screen and (max-width: 1000px) {
  .flex-box {
    width: 100%;
  }
}